[submodule "Project 1/proj1b/Project 1/proj1b/ar_track_alvar"]
	path = Project 1/proj1b/Project 1/proj1b/ar_track_alvar
	url = https://github.com/machinekoder/ar_track_alvar.git
[submodule "Project 1/proj1b/ar_track_alvar"]
	path = Project 1/proj1b/ar_track_alvar
	url = https://github.com/machinekoder/ar_track_alvar.git
